.app-container {
  display: flex;
}

.auth-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f8fafc;
}

.auth-form {
  width: 100%;
  max-width: 420px;

  background: white;

  padding: 30px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

body.dark .auth-form {
  background: #111827;
}